.App {
	text-align: center;
	display: grid;
	grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.nav {
}

.Links {
	grid-row: 1;
	grid-column: 1;
	background: rgb(134, 134, 173);
	padding: 10px;
}
.Main {
	grid-row: 2;
}

/* unvisited link */
a:link {
	color: red;
	padding: 1em;
}

/* visited link */
a:visited {
	color: rgb(225, 250, 225);
}

/* mouse over link */
a:hover {
	color: hotpink;
}

/* selected link */
a:active {
	color: blue;
}

/*
Links that I used to create this css:

link color = https://www.w3schools.com/css/css_link.asp

*/
